DATABASE_URL="postgresql://postgres:postgres@localhost:5432/yagami_dashboard?schema=public"

KIOTVIET_CLIENT_ID=
KIOTVIET_CLIENT_SECRET=
KIOTVIET_RETAILER=
KIOTVIET_AUTH_URL=https://id.kiotviet.vn/connect/token
KIOTVIET_API_URL=https://public.kiotapi.com
